<ts-tab class="text-right" [tabs]="['Demo','Info']" activeTab="Demo" [pads]="[Demo,Info]" position="right" type="pills" color="dark"></ts-tab>
<br>
<div class="card rounded-0" #Demo tab="Demo">
    <div class="card-body">
        <h4>Default Datepicker</h4>
        <hr>
        <div class="pt-3 pb-3">
            <div class="input-group">
                <label class="input-group-addon">Date</label>
                <input class="form-control" (click)="datepicker.toggle()">
                <label class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></label>
            </div>
            <ts-datepicker #datepicker="datePicker" [(activeDate)]="date" btnClass="btn-danger" textClass="text-danger" activeClass="bg-danger text-light" class="d-inline-block "></ts-datepicker>
            <!-- <ts-datepicker [(activeDate)]="date" btnClass="btn-primary" textClass="text-primary" activeClass="bg-primary text-light" class="d-inline-block"></ts-datepicker>
            <ts-datepicker [(activeDate)]="date" btnClass="btn-warning" textClass="text-warning" activeClass="bg-warning text-dark" class="d-inline-block"></ts-datepicker> -->
            <pre>{{date|json}}</pre>
        </div>
        <h4>Labels Setting</h4>
        <hr>
        <div class="pt-3 pb-3">
            <ts-datepicker [(activeDate)]="date" [weekTitles]="['一','二','三','四','五','六','日']" [monthTitles]="['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']"></ts-datepicker>
            <pre>{{date|json}}</pre>
        </div>
    </div>
</div>
<div class="card rounded-0" #Info tab="Info">
    <div class="card-body">

    </div>
</div>