<ts-tab [tabs]="['Demo','Info']" activeTab="Demo" [pads]="[Demo,Info]" color="dark" type="pills" position="right"></ts-tab>
<br>
<div #Demo tab="Demo" class="card rounded-0">
    <div class="card-body">
        <h4>Example</h4>
        <hr>
        <div class="pt-3 pb-3">
            <p class="text-muted mt-2"><i class="fa fa-code fa-fw"></i>code in your page *.html/template</p>
            <ts-prism-code [language]="language.html" [code]="codes[0]"></ts-prism-code>
            <p class="text-muted"><i class="fa fa-code fa-fw"></i>code in your page *.component.ts</p>
            <ts-prism-code [language]="language.typescript" [code]="codes[1]"></ts-prism-code>
            <p class="text-muted"><i class="fa fa-code fa-fw"></i>you will see</p>
            <ts-prism-code [language]="language.html" [code]="codes[2]"></ts-prism-code>
        </div>
    </div>
</div>
<div #Info tab="Info" class="card rounded-0">
    <div class="card-body">
        <h5>Selector</h5>
        <hr>
        <div class="pt-3 pb-3">
            <code>&lt;ts-prism-code&gt;&lt;/ts-prism-code&gt;</code>
        </div>
        <h5>Input</h5>
        <hr>
        <div class="pt-3 pb-3">
            <pre>
//default value : 'html' (other:'typescript','javascript','xml','php')
@Input() language: string

//your code
@Input() code: string

//set style
@Input() codeStyle: {{"{ [key:string]:string }"}} (default:{{"{'background-color':'#1f2019'}"}})
            </pre>
        </div>
    </div>
</div>