<ts-tab class="text-right" [tabs]="['Demo','Info']" activeTab="Demo" [pads]="[Demo,Info]" position="right" type="pills" color="dark"></ts-tab>
<br>
<div class="card rounded-0" #Demo tab="Demo">
    <div class="card-body">
        <h4>Example Icon
            <small class="pull-right"><a href="http://fontawesome.io/">Go to font-awesome</a></small>
        </h4>
        <hr>
        <div class="pt-3 pb-3">
            <ts-icon name="file"></ts-icon>
            <ts-icon name="file-text-o"></ts-icon>
            <ts-icon name="file-image-o"></ts-icon>
            <ts-icon name="file-photo-o"></ts-icon>
            <ts-icon name="file-movie-o"></ts-icon>
            <ts-icon name="area-chart"></ts-icon>
            <ts-icon name="bar-chart"></ts-icon>
            <ts-icon name="pie-chart"></ts-icon>
            <ts-icon name="line-chart"></ts-icon>
            <p class="text-danger mt-2"><i class="fa fa-code fa-fw"></i>code in your page *.html/template</p>
            <ts-prism-code language="html" [code]="codes[0]"></ts-prism-code>
        </div>
        <h4>Icon Size</h4>
        <hr>
        <div class="pt-3 pb-3">
            <ts-icon name="camera-retro" size="lg"></ts-icon>
            <ts-icon name="camera-retro" size="2x"></ts-icon>
            <ts-icon name="camera-retro" size="3x"></ts-icon>
            <ts-icon name="camera-retro" size="4x"></ts-icon>
            <ts-icon name="camera-retro" size="5x"></ts-icon>
            <p class="text-danger mt-2"><i class="fa fa-code fa-fw"></i>code in your page *.html/template</p>
            <ts-prism-code language="html" [code]="codes[1]"></ts-prism-code>
        </div>
    </div>
</div>
<div class="card rounded-0" #Info tab="Info">
    <div class="card-body">
        <h5>Selector</h5>
        <hr>
        <code>ts-icon</code>
        <br>
        <br>
        <h5>Input</h5>
        <hr>
        <p>@Input() name : string //icon name</p>
        <p>@Input() size : string //icon size , value:('lg','2x','3x','4x','5x')</p>
    </div>
</div>