<div class="card rounded-0">
    <div class="card-body">
        <h4>Example Icon<span class="pull-right"><i class="fa fa-eye"></i></span></h4>
        <hr>
        <div class="pt-3 pb-3">
            <ts-icon name="file"></ts-icon>
            <ts-icon name="file-text-o"></ts-icon>
            <ts-icon name="file-image-o"></ts-icon>
            <ts-icon name="file-photo-o"></ts-icon>
            <ts-icon name="file-movie-o"></ts-icon>
            <ts-icon name="area-chart"></ts-icon>
            <ts-icon name="bar-chart"></ts-icon>
            <ts-icon name="pie-chart"></ts-icon>
            <ts-icon name="line-chart"></ts-icon>
            <p class="text-danger mt-2"><i class="fa fa-code fa-fw"></i>code in your page *.html/template</p>
            <ts-pirsm-code language="html" [code]="codes[0]"></ts-pirsm-code>
        </div>
        <h4>Icon Size<span class="pull-right"><i class="fa fa-eye"></i></span></h4>
        <hr>
        <div class="pt-3 pb-3">
            <ts-icon name="camera-retro" size="lg"></ts-icon>
            <ts-icon name="camera-retro" size="2x"></ts-icon>
            <ts-icon name="camera-retro" size="3x"></ts-icon>
            <ts-icon name="camera-retro" size="4x"></ts-icon>
            <ts-icon name="camera-retro" size="5x"></ts-icon>
            <p class="text-danger mt-2"><i class="fa fa-code fa-fw"></i>code in your page *.html/template</p>
            <ts-pirsm-code language="html" [code]="codes[1]"></ts-pirsm-code>
        </div>
    </div>