<div class="card rounded-0">
    <div class="card-body">
        <h4>Default (btn-*)<span class="pull-right"><i class="fa fa-eye"></i></span></h4>
        <hr>
        <div class="pt-3 pb-3">
            <button (click)="showLoading(loadingButton1)" ts-loading class="btn btn-primary" title="Loading Button" #loadingButton1="tsLoading"></button>
            <button (click)="showLoading(loadingButton2)" ts-loading class="btn btn-secondary" title="Loading Button" #loadingButton2="tsLoading"></button>
            <button (click)="showLoading(loadingButton3)" ts-loading class="btn btn-danger" title="Loading Button" #loadingButton3="tsLoading"></button>
            <button (click)="showLoading(loadingButton4)" ts-loading class="btn btn-warning" title="Loading Button" #loadingButton4="tsLoading"></button>
            <button (click)="showLoading(loadingButton5)" ts-loading class="btn btn-info" title="Loading Button" #loadingButton5="tsLoading"></button>
            <button (click)="showLoading(loadingButton6)" ts-loading class="btn btn-light" title="Loading Button" #loadingButton6="tsLoading"></button>
            <button (click)="showLoading(loadingButton7)" ts-loading class="btn btn-dark" title="Loading Button" #loadingButton7="tsLoading"></button>
            <button (click)="showLoading(loadingButton8)" ts-loading class="btn btn-link" title="Loading Button" #loadingButton8="tsLoading"></button>
            <p class="text-danger mt-2"><i class="fa fa-code fa-fw"></i>code in your page *.html/template</p>
            <ts-prism-code [language]="language.html" [code]="codes[0]"></ts-prism-code>
            <p class="text-danger"><i class="fa fa-code fa-fw"></i>code in your page *.component.ts</p>
            <ts-prism-code [language]="language.typescript" [code]="codes[1]"></ts-prism-code>
        </div>
        <h4>Small (btn-*/btn-sm)</h4>
        <hr>
        <div class="pt-3 pb-3">
            <button (click)="showLoading(loadingButton9)" ts-loading class="btn btn-sm btn-primary" title="Loading Button" #loadingButton9="tsLoading"></button>
            <button (click)="showLoading(loadingButton10)" ts-loading class="btn btn-sm btn-secondary" title="Loading Button" #loadingButton10="tsLoading"></button>
            <button (click)="showLoading(loadingButton11)" ts-loading class="btn btn-sm btn-danger" title="Loading Button" #loadingButton11="tsLoading"></button>
            <button (click)="showLoading(loadingButton12)" ts-loading class="btn btn-sm btn-warning" title="Loading Button" #loadingButton12="tsLoading"></button>
            <button (click)="showLoading(loadingButton13)" ts-loading class="btn btn-sm btn-info" title="Loading Button" #loadingButton13="tsLoading"></button>
            <button (click)="showLoading(loadingButton14)" ts-loading class="btn btn-sm btn-light" title="Loading Button" #loadingButton14="tsLoading"></button>
            <button (click)="showLoading(loadingButton15)" ts-loading class="btn btn-sm btn-dark" title="Loading Button" #loadingButton15="tsLoading"></button>
            <button (click)="showLoading(loadingButton16)" ts-loading class="btn btn-sm btn-link" title="Loading Button" #loadingButton16="tsLoading"></button>
            <ts-prism-code [language]="language.html" [code]="codes[2]"></ts-prism-code>
        </div>
        <h4>Outline/Large (btn-outline-*/btn-lg)</h4>
        <hr>
        <div class="pt-3 pb-3">
            <button (click)="showLoading(loadingButton17)" ts-loading class="btn btn-lg btn-outline-primary" title="Primary" #loadingButton17="tsLoading"></button>
            <button (click)="showLoading(loadingButton18)" ts-loading class="btn btn-lg btn-outline-secondary" title="Secondary" #loadingButton18="tsLoading"></button>
            <button (click)="showLoading(loadingButton19)" ts-loading class="btn btn-lg btn-outline-danger" title="Danger" #loadingButton19="tsLoading"></button>
            <button (click)="showLoading(loadingButton20)" ts-loading class="btn btn-lg btn-outline-warning" title="Warning" #loadingButton20="tsLoading"></button>
            <button (click)="showLoading(loadingButton21)" ts-loading class="btn btn-lg btn-outline-info" title="Info" #loadingButton21="tsLoading"></button>
            <button (click)="showLoading(loadingButton22)" ts-loading class="btn btn-lg btn-outline-light" title="Light" #loadingButton22="tsLoading"></button>
            <button (click)="showLoading(loadingButton23)" ts-loading class="btn btn-lg btn-outline-dark" title="Dark" #loadingButton23="tsLoading"></button>
            <ts-prism-code [language]="language.html" [code]="codes[3]"></ts-prism-code>
        </div>
    </div>
</div>