<!-- <ts-open-card></ts-open-card> -->

<button class="btn btn-primary" (click)="showPrimaryConfirm()">Confirm</button>
<button class="btn btn-secondary" (click)="showSecondaryConfirm()">Confirm</button>
<button class="btn btn-success" (click)="showSuccessConfirm()">Confirm</button>
<button class="btn btn-danger" (click)="showDangerConfirm()">Confirm</button>
<button class="btn btn-warning" (click)="showWarningConfirm()">Confirm</button>
<button class="btn btn-info" (click)="showInfoConfirm()">Confirm</button>
<button class="btn btn-light" (click)="showLightConfirm()">Confirm</button>
<button class="btn btn-dark" (click)="showDarkConfirm()">Confirm</button>
<button class="btn btn-dark" (click)="showToast()">Toast</button>


<pre>{{log}}</pre>