<div class="btn-group mr-2" role="group">
    <!-- <button (click)="!!selectPage(1)" [attr.tabindex]="(hasPrevious() ? null : '-1')" *ngIf="boundaryLinks" [class.disabled]="!hasPrevious() || disabled"
        type="button" class="btn {{theme.start}}">{{startTitle}}</button>
    <button (click)="!!selectPage(page-1)" [attr.tabindex]="(hasPrevious() ? null : '-1')" *ngIf="directionLinks" [class.disabled]="!hasPrevious() || disabled"
        type="button" class="btn {{theme.prev}}">{{prevTitle}}</button> -->
    <ng-template ngFor let-item [ngForOf]="pages" let-i="index">
        <button [class.active]="item === pagination.page" type="button" class="btn btn-success" (click)="pagination.page=item;setPages()">{{item}}</button>
    </ng-template>
    <!-- <button (click)="!!selectPage(page+1)" [attr.tabindex]="(hasNext() ? null : '-1')" *ngIf="directionLinks" [class.disabled]="!hasNext() || disabled"
        type="button" class="btn {{theme.next}}">{{nextTitle}}</button>
    <button (click)="!!selectPage(pageCount)" [attr.tabindex]="(hasNext() ? null : '-1')" *ngIf="boundaryLinks" [class.disabled]="!hasNext() || disabled"
        type="button" class="btn {{theme.end}}">{{endTitle}}</button> -->
</div>