<ts-tab [tabs]="['Demo','Info']" activeTab="Demo" [pads]="[Demo,Info]" color="dark" type="pills" position="right"></ts-tab>
<br>
<div #Demo tab="Demo" class="card rounded-0">
    <div class="card-body">
        <h4>Colorfull Pagination</h4>
        <hr>
        <ts-pagination colors="btn-dark" [(pagination)]="pagination" startTitle="Start" prevTitle="Prev" nextTitle="Next" endTitle="End"></ts-pagination>
        <br>
        <br>
        <ts-pagination colors="btn-primary,btn-secondary" [(pagination)]="pagination" startTitle="Start" prevTitle="Prev" nextTitle="Next" endTitle="End" (pageChange)="pageChanged($event)"></ts-pagination>
        <br>
        <br>
        <ts-pagination colors="btn-primary,btn-secondary,btn-warning" [(pagination)]="pagination" startTitle="Start" prevTitle="Prev" nextTitle="Next" endTitle="End" (pageChange)="pageChanged($event)"></ts-pagination>
        <br>
        <br>
        <ts-pagination colors="btn-primary,btn-secondary,btn-warning,btn-danger,btn-info" [(pagination)]="pagination" startTitle="Start" prevTitle="Prev" nextTitle="Next" endTitle="End" (pageChange)="pageChanged($event)"></ts-pagination>
        <br>
        <br>
        <pre>{{pagination|json}}</pre>
        <ts-pirsm-code language="html" [code]="codes[0]"></ts-pirsm-code>
        <ts-pirsm-code language="typescript" [code]="codes[1]"></ts-pirsm-code>
    </div>
</div>
<br>
<div #Info tab="Info" class="card rounded-0">
    <div class="card-body">
        <h5>Selector</h5>
        <hr>
        <p>
            <code>&lt;ts-pagination>&gt;&lt;/ts-pagination&gt;</code>
        </p>
        <h5>Input</h5>
        <hr>
        <p>@Input() colors : string //css class for pagination, default value : 'btn-primary'</p>
        <ts-pagination colors="btn-dark" [pagination]="pagination"></ts-pagination>
        <br><br>
        <p>@Input() nextTitle: string //title for next button</p>

        <p>@Input() prevTitle: string //title for previous button</p>

        <p>@Input() endTitle: string //title for end button</p>

        <p>@Input() startTitle: string //title for start button</p>

        <p>@Input() pagination: number //pagination params; see class Pagination</p>
        <ts-pagination colors="btn-outline-dark" [pagination]="pagination" startTitle="Start" prevTitle="Prev" nextTitle="Next" endTitle="End"></ts-pagination>
        <br><br>
        <p>@Input() btnNum: number //page button number, default value : 5</p>
        <ts-pagination colors="btn-info" [pagination]="pagination" [btnNum]="10" startTitle="Start" prevTitle="Prev" nextTitle="Next" endTitle="End"></ts-pagination>
        <br><br>
        <h5>Output</h5>
        <hr>
        <p> @Output() pageChange :EventEmitter&lt;Pagination&gt;</p>
        <h5>Class Pagination</h5>
        <hr>
        <ts-pirsm-code language="typescript" [code]="codes[2]"></ts-pirsm-code>
    </div>
</div>