<ts-open-card></ts-open-card>
<!-- <ts-confirm cardClass="border-info text-info" closeClass="text-info"></ts-confirm> -->
<button class="btn btn-primary" (click)="showPrimaryConfirm()">Confirm</button>
<button class="btn btn-secondary" (click)="showSecondaryConfirm()">Confirm</button>
<button class="btn btn-success" (click)="showSuccessConfirm()">Confirm</button>
<button class="btn btn-danger" (click)="showDangerConfirm()">Confirm</button>
<button class="btn btn-warning" (click)="showWarningConfirm()">Confirm</button>
<button class="btn btn-info" (click)="showInfoConfirm()">Confirm</button>
<button class="btn btn-light" (click)="showLightConfirm()">Confirm</button>
<button class="btn btn-dark" (click)="showDarkConfirm()">Confirm</button>

<pre>{{log}}</pre>