<div class="card rounded-0">
    <div class="card-body">
        <div class="form-group">
            <p>Type</p>
            <hr>
            <ts-checkbox [(checked)]="checkeds[0]"></ts-checkbox>
            <ts-checkbox [(checked)]="checkeds[1]" type="square"></ts-checkbox>
            <br>
            <br>
            <p>Label</p>
            <hr>
            <ts-checkbox [(checked)]="checkeds[2]" label="Apple"></ts-checkbox>
            <br>
            <br>
            <p>Color</p>
            <hr>
            <ts-checkbox [(checked)]="checkeds[3]" color="primary" label="primary"></ts-checkbox>
            <ts-checkbox [(checked)]="checkeds[4]" defaultColor="muted" activeColor="danger" label="checkbox" [ngClass]="{'text-muted':!checkeds[4],'text-danger':checkeds[4]}"></ts-checkbox>
            <!-- <ts-checkbox [(checked)]="checked" activeColor="success" defaultColor="muted" label="Apple" [ngClass]="{'text-primary':checked}"></ts-checkbox> -->
        </div>
        <div class="form-group">
            <p>Group</p>
            <hr>
            <ts-checkbox-group [(values)]="values">
                <ts-checkbox value="A" label="A"></ts-checkbox>
                <ts-checkbox value="B" label="B"></ts-checkbox>
                <ts-checkbox value="C" label="C"></ts-checkbox>
            </ts-checkbox-group>
            <p>{{values.join()}}</p>
            <ts-checkbox-group [(values)]="values">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card rounded-0">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <ts-checkbox value="Apple"></ts-checkbox>Card A</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card rounded-0">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <ts-checkbox value="Bananer"></ts-checkbox>Card B</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card rounded-0">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <ts-checkbox value="Computer"></ts-checkbox>Card C</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card rounded-0">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <ts-checkbox value="Dog"></ts-checkbox>Card D</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ts-checkbox-group>
        </div>
    </div>
</div>