<ts-tab [tabs]="['Demo','Info']" activeTab="Demo" [pads]="[Demo,Info]" color="dark" type="pills" position="right"></ts-tab>
<br>
<div class="card rounded-0" #Demo tab="Demo">
    <div class="card-body">
        <h4>File Input</h4>
        <hr>
        <div class="pt-3 pb-3">
            <div class="input-group">
                <input ts-file #tsFile='tsFile' class="d-none" type="file" (fileChange)="file=$event">
                <button (click)="tsFile.openFileDialog()" class="btn btn-dark" type="button">
                    <ts-icon name="folder-o" size="lg"></ts-icon>Open File
                </button>
                <div class="btn-group ml-3" role="group" aria-label="Basic example">
                    <button (click)="tsFile.openFileDialog()" class="btn btn-dark" type="button"><ts-icon name="folder-o" size="lg"></ts-icon>Open File</button>
                    <button (click)="tsFile.removeFile()" class="btn btn-danger"><ts-icon name="trash-o" size="lg"></ts-icon></button>
                </div>
            </div>
            <br>
            <pre *ngIf="!!file" class="text-primary">
FileName : {{file.name}}
FileSize : {{file.size}}
FileType : {{file.type||'unknown'}}
FileDate : {{file.lastModifiedDate}}
            </pre>
            <p class="text-info"><i class="fa fa-code fa-fw"></i>code in your tempelate *.html</p>
            <ts-prism-code [code]="codes[0]" [codeStyle]="{'background-color':'white','border': '1px solid rgb(228, 228, 228)'}"></ts-prism-code>
            <p class="text-info"><i class="fa fa-code fa-fw"></i>code in your component *.component.ts</p>
            <ts-prism-code language="typescript" [code]="codes[1]" [codeStyle]="{'background-color':'white','border': '1px solid rgb(228, 228, 228)'}"></ts-prism-code>
        </div>
    </div>
</div>
<div class="card rounded-0" #Info tab="Info">
    <div class="card-body">
        <h5>Selector</h5>
        <hr>
        <code>input[ts-file]</code>
        <br>
        <br>
        <h5>ExportAs</h5>
        <hr>
        <code>tsFile</code>
        <br>
        <br>
        <h5>Output</h5>
        <hr>
        <code>@Output() fileChange : EventEmitter&lt;File&gt;()</code>
        <br>
        <br>
        <h5>Method</h5>
        <hr>
        <p>openFileDialog()<span class="text-muted"> //open the file dialog</span></p>
        <p>removeFile()<span class="text-muted"> //remove all file</span></p>
    </div>
</div>